html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    width: 100%;
    background-color: rgb(255, 0, 0);
    padding: 1rem;
    box-sizing: border-box;
    border-bottom: 1px solid #000;
}

header h1 {
    margin: 0;
    font-family: sans-serif;
    color: #FED900;
    text-shadow: 2px 0 0 #4F28A0, -2px 0 0 #4F28A0, 0 2px 0 #4F28A0, 0 -2px 0 #4F28A0, 1px 1px #4F28A0, -1px -1px 0 #4F28A0, 1px -1px 0 #4F28A0, -1px 1px 0 #4F28A0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}

div {
    width: 28%;
    border: 1px solid #000;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 7px;
    box-shadow: 0 0 7px 0 #000;
}

img { 
    width: 100%;
}

h2 {
    margin: 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: .5rem 0;
}

p {
    margin: 0;
    text-align: justify;
}

.types {
    display: inline-flex;
    list-style: none;
    padding-left: 0;
}

.type {
    border: 1px solid #000;
    color: #fff;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    border-radius: 35%;
    padding: .25rem;
    margin-right: .25rem;
}

.poison {
    background-color: rgb(151, 0, 197);
}
.grass {
    background-color: rgb(40, 240, 0);
}
.fire {
    background-color: rgb(252, 24, 24);
}
.flying {
    background-color: rgb(123, 189, 228);
}
.water {
    background-color: rgb(0, 102, 255);
}
.bug {
    background-color: rgb(0, 180, 0);
}
.normal {
    background-color: #D3A1AD;
}
.electric {
    background-color: rgb(238, 255, 0);
}
.ground {
    background-color: rgb(202, 121, 0);
}
.fairy {
    background-color: #F31A73;
}
.fighting {
    background-color: #F66E35;
}
.psychic {
    background-color: #FB209C;
}
.rock {
    background-color: #994520;
}
.steel {
    background-color: #33C39C;
}
.ice {
    background-color: #89D7F8;
}
.ghost {
    background-color: #9A6F9A;
}
.dragon {
    background-color: #5CCADB;
}

.evolutions {
    padding-left: 1rem;
    list-style: none;
}

.evolutions span {
    font-weight: bold;
}